@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>


    @*<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="phantom-themes">*@
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Task System</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Gudea:400,700" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/waves.min.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/css/flatifytheme.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()


<!-- Javascripts -->

    <script src="~/js/jquery-3.1.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/waves.min.js"></script>
    <script src="~/js/jquery.uniform.standalone.js"></script>
    <script src="~/js/pace.min.js"></script>
    <script src="~/js/flatifytheme.min.js"></script>
</body>
</html>